
html {
    height: 100%;
    margin: o;
    padding: 0;  
    
}

body {
    background: linear-gradient(to bottom, #0e010e, #c488f1);
    
}
h1{
    color:white;
    text-align: center;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 2.5rem;
    text-align: center;
    text-shadow:2px 2px 15px rgb(228, 8, 63);
    text-decoration-line: underline;
}

/*button {
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
}

.cabecera {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);


}
.cabecera button{
    
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border-color: rgb(214, 136, 18);
    border-width: 3px;
    padding: 2px;
    
    color:antiquewhite;
    font-size: 20px;
    
}*/
./*recording {
   
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
#rec {
    background-color: rgb(255, 0, 0);
    background: linear-gradient(to bottom, #fa0000, #ec5454);

    border-radius: 50%;
    padding: 20px;
    border-color: black;
    border-width: 6px;
    font-family: 'Shadows Into Light';
    font-size: 25px;
    
}

#stop {
    
    background-color: rgb(22, 21, 21);
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    border-color: black;
    border-width: 6px;
    text-align: center;
    
}*/
.grid_container{
    
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        height: 80vh;
        gap: 5px;
 }
    



#uno {
    background-color: deeppink;
}
#dos {
    background-color: gold;
}
#tres {
    background-color: lime;
}
#cuatro {
    background-color: rgb(56, 174, 243);
}
#cinco {
    background-color: rgb(122, 48, 156);
}
#seis {
    background-color: rgb(241, 81, 17);
}
#siete {
    background-color: rgb(188, 245, 31);
}
#ocho {
    background-color: rgb(240, 47, 121);
}
#nueve {
    background-color: rgb(122, 197, 247);
}
